@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker|Playfair+Display|Roboto');

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2B2B2B;
  color: white;
}

.footer p {
  margin-top: 10px;
}

.navbar {
  background-color: #2B2B2B;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f37673;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 5px;
}

code {
  font-size: 80%;
}

ul {
  list-style-type: none;
}

#th-title {
  margin: 0px;
}

.date {
  color: grey;
  font-size: 70%;
  margin-bottom: 20px;
}

p {
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 90%
}

a {
  font-family: 'Roboto', sans-serif;

}

h1, h3 {
  font-family: 'Permanent Marker', cursive;
}

.btn-group .btn-primary {
  margin: 15px 5px;
  font-size: 70%;
  padding: 3px;
}

.btn {
  background-color: #f37673;
  border-color: #f37673;
}

.albums {
  margin-bottom: 30px;
}

.pages {
  margin: 20px 0px;
}