{% extends 'imagersite/layout.html' %}
{% load staticfiles %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Published Albums</h1>
            <ul class="unstyled">

{% for album in albums %}
                <li class="col-sm-4">

                    <a href="{% url 'album_detail' album.id %}">

                    {% if album.cover_photo.image_file %}
                        <img style="width: 100px;" src="/media/{{ album.cover_photo.image_file }}">
                    {% else %}
                        <img style="width: 100px;" src="{% static 'imagersite/IMG_2790.jpg' %}">
                    {% endif %}
                    </a>
                    <p id="th-title"><b>{{ album.title }}</b></p>
                    <p>{{ album.description}}</p>
                    <p class="date"><b>Date Uploaded: </b>{{ album.date_uploaded}}</p>
                </li>

{% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock body %}