{% extends 'imagersite/layout.html' %}


{% block body %}
<div class="page-header">
        <h1>Gallery</h1>
</div>

{% for album in albums %}

    <p><em>Title: </em>{{ album.title }}</p>
    <p><em>Date Uploaded: </em>{{ album.date_uploaded}}</p>

    <p><em>Thumbnail: </em></p>
    {% if album.cover_photo.image_file %}
    <img style="width: 100px;" src="/media/{{ album.cover_photo.image_file }}">
    {% else %}
    <img style="width: 100px;" src="{% static 'imagersite/IMG_2790.jpg' %}">
    {% endif %}

{% endfor %}


{% for photo in photos %}

    <p><em>Title: </em>{{ photo.title }}</p>
    <p><em>Date Uploaded: </em>{{ photo.date_uploaded}}</p>

    <p><em>Thumbnail: </em></p>
    <img style="width: 100px;" src="/media/{{ photo.image_file }}">

{% endfor %}


{% endblock body %}