{% extends 'imagersite/layout.html' %}
{% load staticfiles %}


{% block body %}
<div class="container">
    <div class="row">
        <div class='page-header'>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="{% url 'photo_add' %}" class="btn btn-primary">Add Photo</a>
                    <a href="{% url 'album_add' %}" class="btn btn-primary">Add Album</a>
                </div>
            </div>
            <h1>Gallery</h1>
        </div>
            
            <ul class="unstyled">

                <div>
                {% for album in albums %}

                <li class="col-sm-4">
                <a href="{% url 'album_detail' album.id %}">

                    {% if album.cover_photo.image_file %}
                        <img style="object-fit: cover; height: 100px;" src="/media/{{ album.cover_photo.image_file }}">
                    {% else %}
                        <img style="object-fit: cover; height: 100px;" src="{% static 'imagersite/IMG_2790.jpg' %}">
                    {% endif %}
                    </a>
                    <p id="th-title"><b>{{ album.title }}</b></p>
                    <p class="date"><b>Date Uploaded: </b>{{ album.date_uploaded}}</p>
                </li>
                {% endfor %}
                </div>

                <div>
                {% for photo in photos %}
                
                <li class="col-sm-4">
                <a href="{% url 'photo_detail' photo.id %}">
                    <img style="object-fit: cover; height: 100px;" src="/media/{{ photo.image_file }}"></a>
                    <p id="th-title"><b>{{ photo.title }}</b></p>
                    <p class="date"><b>Date Uploaded: </b>{{ photo.date_uploaded}}</p>
                </li>

                {% endfor %}
                </div>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}