{% extends 'imagersite/layout.html' %}


{% block body %}
<main class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Published Photos</h1>
            <ul>

{% for photo in photos %}
                <li>
                    <p><em>Title: </em>{{ photo.title }}</p>
                    <p><em>Description: </em>{{ photo.description}}</p>
                    <p><em>Date Uploaded: </em>{{ photo.date_uploaded}}</p>

                    <p><em>Thumbnail: </em></p>
                    <img style="width: 100px;" src="/media/{{ photo.image_file }}">
                </li>
    
{% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock body %}