{% extends 'imagersite/layout.html' %}


{% block body %}
<div class="page-header">
        <h1>Photo Detail</h1>
</div>

    <img style="width: 100px;" src="/media/{{ photo.image_file }}">
    <p id="th-title"><b>{{ photo.title }}</b></p>
    <p>{{ photo.description}}</p>
    <p><b>Full size url: </b><a href="/media/{{ photo.image_file }}">Link</a></p>
    {% if user == photo.photographer %}
    <a href="{% url 'photo_edit' photo.id %}">Edit</a>
    {% endif %}
    <p class="date"><b>Date Uploaded: </b>{{ photo.date_uploaded}}</p>

{% endblock body %}