{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}IMAGE-nation{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'imagersite/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock stylesheets %}

  </head>

  <body>
      
      {% block content %}
      {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'imagersite/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
