{% extends 'imagersite/base.html' %}
{% load staticfiles %}


{% block title %}IMAGE-nation home{% endblock title %}

    
{% block stylesheets %}
  <link href="{% static 'imagersite/cover.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{% if photo.image_file %}
  <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/media/{{ photo.image_file }}')">
{% else %}
  <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({% static 'imagersite/IMG_2790.jpg' %})">
{% endif %}

  
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">IMAGE-Nation</h3> -->
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'home' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  <li><a href="{% url 'my_profile' %}">{{ user.username }}</a></li>
                  {% endif %}
                  {% if not user.is_authenticated %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">IMAGE-Nation</h1>
            <p class="lead">Join other photographers like you on Imager site. Use our site to host and share your photos</p>
            <p class="lead">
                {% if not user.is_authenticated %}
                  <a href="{% url 'registration_register' %}" class="btn btn-lg btn-default">Join Today!</a>
                {% endif %}
                {% if user.is_authenticated %}
                  <a class="btn" href="{% url 'photo_list' %}">Photos</a>
                  <a class="btn" href="{% url 'album_list' %}">Albums</a>
                {% endif %}
            </p>
          </div>
          
          <div class="mastfoot">
            <div class="inner">
              <footer>IMAGE-Nation 2017</footer>
            </div>
          </div>

        </div>

      </div>

    </div>

    {% endblock %}
}
